In [21]:
import pandas as pd

In [22]:
sneakerShopData = pd.read_excel(r'2019 Winter Data Science Intern Challenge Data Set.xlsx')
sneakerShopData.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56.190
1,2,92,925,90,1,cash,2017-03-03 17:38:51.999
2,3,44,861,144,1,cash,2017-03-14 04:23:55.595
3,4,18,935,156,1,credit_card,2017-03-26 12:43:36.649
4,5,18,883,156,1,credit_card,2017-03-01 04:35:10.773

In [23]:
print('It is possible that the price of the sneakers were not divided by the number of pairs sold.To figure out what went wrong, sum all the columns and calculate a fixed AOV value.')
sumCol = sneakerShopData.sum(axis=0)
for sum in sumCol.index:
    if type(sumCol[sum]) == str:
        print(sum, ': Not Applicable')
    else:
        fixed_AOV = 3145.13*sumCol[sum]/sumCol.order_amount
        print(sum, ': $%.2f'%fixed_AOV)

It is possible that the price of the sneakers were not divided by the number of pairs sold.To figure out what went wrong, sum all the columns and calculate a fixed AOV value.
order_id : $2500.50
shop_id : $50.08
user_id : $849.09
order_amount : $3145.13
total_items : $8.79
payment_method : Not Applicable

In [24]:
print('The fixed AOV value of $50.08 makes the most sense. Most likely, what had happend was that the shop_id was mistaken as the number of sneakers sold when calculating AOV.')

The fixed AOV value of $50.08 makes the most sense. Most likely, what had happend was that the shop_id was mistaken as the number of sneakers sold when calculating AOV.

In [25]:
print('For this dataset, I would report the average amount of sneakers sold over 100 shops in one day.')

For this dataset, I would report the average amount of sneakers sold over 100 shops in one day.

In [26]:
AveShopOrderAmountPerDay = sumCol.order_amount/30/100
print('The average order amount over 100 shop per day is $%.2f.'%AveShopOrderAmountPerDay)

The average order amount over 100 shop per day is $5241.88.